name: Sync with Template
on:
  schedule:
    - cron: "0 0 * * 1" # Runs weekly on Mondays
  workflow_dispatch:   # Allows manual triggering

jobs:
  sync:
    runs-on: ubuntu-latest
    permissions:
      contents: write
      pull-requests: write
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Actions Template Sync
        uses: AndreasAugustin/actions-template-sync@v2
        with:
          source_repo_path: j-hc/revanced-magisk-module # Your template source
          is_force_push_pr: true
